* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
  color: white;
  padding-top: 2.5em;
}
.navlinks {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-block: 2em;
  padding-inline: 2.5em;
}
.logo {
  display: flex;
  justify-content: center;
}
